// Variables

$black: black;
$white: white;
$green: green;
$orange: orange;
$orangered: orangered;
$blue: blue;
$purple: purple;
$pink: pink;
$gray: gray;
$lgray: lightgray;
$lblue: lightblue;
$sblue: skyblue;
$red: red;
